$accent: #ffae42;

$theme-colors: (
    "primary": black,
    "secondary": black,
);

.carousel {
    width: calc(15vw + 20vh);
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background: $accent;
}

.active {
    color: black;
}