$accent: #ffae42;

$theme-colors: (
    "primary": black,
    "secondary": black,
);

.carousel {
    margin-left: auto;
    margin-right: auto;
    height: calc(15vw + 20vh);
    width: auto;
}

.carousel-inner{
    margin-left: auto;
    margin-right: auto;
    height: calc(15vw + 20vh);
    width: auto;
}

.card-header {
    background: $accent;
}

.active {
    color: black;
}

#carouselExampleControls {
    max-height: calc(15vw + 20vh);
    max-width: calc(15vw + 20vh);
}