@import "custom";
@import "~bootstrap/scss/bootstrap";

$bg: white;
$accent: #ffae42;

body {
    background: $bg;
}

#comment_form {
    background: lightgray;
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 25px;
    padding: 25px 50px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(10vw + 18vh);
    height: auto;
}

#socials {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    color: $accent;
}

#prev {
    color: black;
}

#next {
    color: black;
}

.active {
    color: black;
}

.g-recaptcha {
    transform:scaleX(0.77);
    -webkit-transform:scaleX(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

a:hover {
    color: $accent;
}

#aloa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: calc(5vw + 10vh);
}

#controls2 {
    width: calc(15vw + 20vh);
}

#controls1 {
    width: calc(17vw + 22vh);
}

hr {
    margin-top: 0px;
    margin-bottom: 1px;
}